
@font-face {
  font-family: 'TwCenMT-Regular';
  src: url('TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),  url('TwCenMT-Regular.woff') format('woff'), url('TwCenMT-Regular.ttf')  format('truetype'), url('TwCenMT-Regular.svg#TwCenMT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
